

// general.scss


body {
    font-family: $font-family;
    overflow-x: hidden;
    background-color: $white;
    font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: $font-family-secondary;
}

p {
    font-size: $font-size-base;
    line-height: 1.6;
}

*.row {
    position: relative;
}

a,
a:hover,
a:focus,
button,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

.back_top {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;
    background: $gradient;
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 20px;
    transition: all 0.5s;
}

.back_top i {
    color: $custom;
    line-height: 35px;
    font-size: 32px;
    display: block;
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 9999;
}

.loader {
    height: 1px;
    background:$gradient;
    position: absolute;
    z-index: 9999;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}