

// about.scss


.about_boxes{
	&.active {
	    border: 1px dotted #e7e7e7;
	}
	.about_icon i {
	    font-size: 32px;
	    background: $gradient;
	    height: 60px;
	    width: 60px;
	    line-height: 60px;
	    display: inline-block;
	    border-radius: 5px;
	    box-shadow: 10px -10px 0 0 rgba(14, 189, 202, 0.25);
	}
	.about_btn a {
	    border: 1px solid #e7e7e7;
	    border-radius: 50%;
	    font-size: 18px;
	    line-height: 48px;
	    height: 50px;
	    width: 50px;
	    display: inline-block;
	    color: $dark !important;
	}
}
