

// contact.scss


.contact_form {
    max-width: 800px;
    padding: 30px;
    box-shadow: 10px -10px 0 4px #0ebdca;
    border-radius: 12px;
    .form-group{
		margin-bottom: 1rem;
    	label {
		    color: rgba(255, 255, 255, 0.8);
			margin-bottom: 0.5rem;
		}
	    .form-control {
		    box-shadow: none !important;
		    height: 44px;
		    color: $white;
		    border: none;
		    border-radius: 3px;
		    font-size: 14px;
		    background-color: rgba(255, 255, 255, 0.1);
		    &::-webkit-input-placeholder {
			    /* Chrome/Opera/Safari */
			    color: rgba(255, 255, 255, 0.6);
			}
			&::-moz-placeholder {
			    /* Firefox 19+ */
			    color: rgba(255, 255, 255, 0.6);
			}
			&:-ms-input-placeholder {
			    /* IE 10+ */
			    color: rgba(255, 255, 255, 0.6);
			}
			&:-moz-placeholder {
			    /* Firefox 18- */
			    color: rgba(255, 255, 255, 0.6);
			}
		}
		textarea.form-control {
		    height: auto !important;
		}
	}
	.error {
	    margin: 8px 0px;
	    display: none;
	    color: #ff5d48;
	}
	.error_msg {
	    padding: 10px;
	    margin-bottom: 20px;
	    text-align: center;
	    color: #806027;
	    background-color: #fdf1db;
	    border-color: #fdebcd;
	    border-radius: 5px;
	    font-size: 14px;
	}
	.gig_loader {
	    display: none;
	}
	#success_msg {
	    text-align: center;
	    margin-bottom: 20px;
	}
	#success_msg h3 {
	    color: #10c469;
	    font-size: 22px;
	}
}

